/* Général */

*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline: none;
    transition: all 0.3s ease 0s; /*effet de transition appliqué sur toutes les propriétés de toutes les balises*/
}


html {
    font-size:62.5%,
}  

body {
    font-family: 'Raleway', sans-serif;
}

header {
    max-width: 1440px;
    padding: 0 var(--desktop-50px) 40px;
    margin: 0 auto;
}

@media (max-width: 1279px) {
    header {
        padding: 0 var(--desktop-20px) 40px;
    }
}

@media (max-width: 991px) {
    header {
        padding: 0 var(--pad-20px) 40px;
    }
}

@media (max-width: 767px) {
    header {
        padding: 0 var(--mobile-20px) 40px;
    }
}

@media (min-width: 1440px) {
    header {
        padding: 0 50px 40px;
    }
}


main {
    display: grid;
    grid-template-areas: 
                        "aside"
                        "hebergements"
                        "activites";
    grid-template-columns: 1fr;
    place-content: stretch;
    column-gap: var(--desktop-30px);
    padding: 0 var(--desktop-20px);
    max-width: 1440px;
    margin: 0 auto;
}

@media (min-width: 992px) { 
    main {
        grid-template-areas: 
                            "hebergements aside"
                            "activites activites";
    
        grid-template-columns: 2.1fr 1fr;  
    }
}

@media (max-width: 991px) { 
    main {
        padding: 0;
    }
}

@media (min-width: 1280px) { 
    main {
        padding: 0 var(--desktop-50px);  
    }
}

@media (min-width: 1440px) { 
    main {
        column-gap: 30px;
        padding: 0 50px;  
    }
}

#hebergements {   
    grid-area: hebergements;
    padding-top: 130px; 
    margin-top: -130px; 
}

@media (max-width: 991px) {
    #hebergements {
        padding-left: var(--pad-20px);
        padding-right: var(--pad-20px);
    }
}

@media (max-width: 767px) {
    #hebergements {
        padding-left: var(--mobile-20px);
        padding-right: var(--mobile-20px);
    }
}

#activites {
    grid-area: activites;
}

footer {
    grid-area: footer;
}

.header-container, main, nav-container {
    max-width: 1440px;
}



#activites {
    padding-top: 130px; 
    margin-top: -130px; 
}

@media (max-width: 767px) {
    #activites {
        padding-top: 130px; 
        margin-top: -180px; 
    }
    
}


/* Annulation de propriétés */

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    flex-basis: 100%;
}



/* Couleurs */

:root { 
    --bleu-clair: #DEEBFF; 
    --bleu: #0065FC;
    --gris: #F2F2F2;
}

.bleu {
    color: var(--bleu);
}

.gris {
    color: var(--gris);
}


/* Variables de : Margin, Padding, Gap */

:root { 
    --desktop-50px: 3.47vw; 
    --desktop-40px: 2.78vw; 
    --desktop-35px: 2.43vw; 
    --desktop-30px: 2.08vw; 
    --desktop-25px: 1.74vw; 
    --desktop-20px: 1.39vw; 

    --pad-50px: 6.51vw; 
    --pad-40px: 5.21vw; 
    --pad-35px: 4.56vw; 
    --pad-30px: 3.9vw; 
    --pad-25px: 3.26vw; 
    --pad-20px: 2.6vw; 

    --mobile-50px: 13.33vw; 
    --mobile-40px: 10.67vw; 
    --mobile-35px: 9.33vw; 
    --mobile-30px: 8vw; 
    --mobile-25px: 6.67vw; 
    --mobile-24px: 6.4vw; 
    --mobile-20px: 5.33vw; 
    --mobile-12px: 3.2vw; 
    --mobile-10px: 2.67vw; 

}



/* Tailles des polices */

h1 {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

@media (max-width: 768px) { 
    h1 {
        padding-top: 35px;
    }
}

h2 {
    font-size: 1.35rem;
    font-weight: 600;
} 

h3 {
    font-weight: 600;
    font-size: 1rem;
}

@media (min-width: 992px) { 
    h3:not(footer h3) {
        font-size: 0.75rem;
        font-weight: 700;
    }
}

@media (min-width: 1078px) { 
    h3:not(footer h3) {
        font-size: 0.8rem;
    }
}

@media (min-width: 1172px) { 
    h3:not(footer h3) {
        font-size: 0.9rem;
    }
}

@media (min-width: 1266px) { 
    h3:not(footer h3) {
        font-size: 1rem;
        font-weight: 600;
    }
}

p {
    font-size: 0.85rem;
}

.section-container-stars i {
    font-size: 0.78rem;
}

.aside-container-stars i {
    font-size: 0.65rem;
}

@media (max-width: 767px) { 
    h1 {
        margin-top: 35px;
    }
}

/* Navbar */

.nav-container-fixed {
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

@media (max-width: 1279px) { 
    .nav-container-fixed {
        padding: 0 var(--desktop-20px);
    }
}

@media (min-width: 1490px) { 
    .nav-container-fixed {
        padding: 0;
    }
}

.nav-container {
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    max-width: 1440px;
    padding: 0 var(--desktop-50px);

   
}

@media (max-width: 1279px) {
    .nav-container {
        padding: 0;
    }
}

@media (min-width: 1440px) {
    .nav-container {
        padding: 0 50px;
    }
}

.nav-container > li {
    height: 100%;
    padding-top: 50px;
    border-top: 3px solid white;
}

.nav-container-logo {
    flex: 5;
}

.nav-container-hebergements {
    padding: 0 25px;
    margin-left: auto;
}

.nav-container-activites {
    padding: 0 45px;

}

.nav-container-inscription {
    padding: 0 25px;
    font-weight: 600;
}

header nav li:hover:not(:first-child) {
    border-top: 3px solid var(--bleu);
}

header nav span:hover {
    color: var(--bleu);
}

@media (max-width: 767px) { 

    .nav-container {
        padding: 0;
         
    }

    .nav-container-logo {
        padding-left: 20px;
    }

    .nav-container > li {
        flex-basis: 50%;
        height: 50%;
        padding-top: 0;
        border-top: 0;
    }

    .nav-container-logo {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .nav-container-hebergements {
        padding: 0;
        padding-bottom: 15px;
        margin-left: 0;
        order: 3;
        border-bottom: 3px solid var(--gris);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }

    .nav-container-activites {
        padding: 0;
        padding-bottom: 15px;
        order: 4;
        border-bottom: 3px solid var(--gris);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    
    .nav-container-inscription {
        padding: 0 20px 0 0;
        order: 2;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
    }

    .inscription {
        margin-left: auto;
    }

    header nav li:hover:not(:first-child) {
        border-top: 0;
    }

    .nav-container-hebergements:hover, .nav-container-activites:hover {
        border-bottom: 3px solid var(--bleu);
    }

}



/* Header hors Navbar */

.header-container {
    margin-top: 130px;
}




/* Barre de recherche */

.fa-map-marker-alt {
    color: black;
    background-color: var(--gris);
    padding: 17px 19px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search {
    margin: 20px 0 30px;
    border: 1px solid var(--gris);
    border-radius: 15px;
    width: 100%;
    max-width: 420px;
    display: flex;
    
}

.search input {
    border: none;
    padding-left: 1rem;
    flex: 1;
}

.search input[type=text] {
    font-weight: bold;
    font-size: 1rem;
}

.search button {
    color: white;
    background-color: var(--bleu);
    padding: 15px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    font-size: 1rem;
    
}

.rechercher span:nth-child(2){
    display: none;
}


@media (max-width: 470px) {

    .search {
        margin: 35px 0 35px;
    
    }

    .rechercher span:nth-child(1){
        display: none;
    }

    .rechercher span:nth-child(2){
        display: contents;
    }
}



/* Icons */

.icon-arrow {
    font-size: 1.35rem;
}



/* Filtres */

.filtres {
    display: flex;
    flex-direction: row;
}

.filtres-titre {
    margin: 0 30px 0 0;
    padding-left: 10px;
    display: flex;
    align-items: center;

}

.filtres-content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
}

.filtres-content > div {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0 35px 0 15px;
}

.filtres p {
    
    font-size: 1rem;
    font-weight: bold;
    
}


.filtres-content a:not(:first-child) {
    
}

.filtres-content a i {
    color: var(--bleu);
    background-color: var(--bleu-clair);
    font-size: 1rem;
    padding: 14px;
    border-radius: 25px;
}

.filtres-content span {
    font-weight: bold;
}

.filtres-content a div {
    border: 2px solid silver;
    padding: 0 12px 0 0;
    border-radius: 25px;
    align-items: center;
}


.filtres-content span {
    padding-left: 10px;
    padding-right: 5px;
}


.filtres-content a div:hover {
    background-color: var(--bleu-clair);
}


@media (max-width: 991px) {

    .filtres {
        flex-direction: column;
    }
    
    .filtres-titre {
        margin: 0 30px 15px 0;
    
    }
}

@media (max-width: 829px) {

    .filtres-content {
        gap: 12px;
        
    }
}

/* Infos */


.info {
    display: flex;
    margin-top: 30px;
}

.info div {
    display: flex;
    align-items: center;
    
    border-radius: 25px;
}

.logo-info-container {
    margin: 0 10px;
    border: 1px solid var(--gris);
    height: 25px;
    width: 25px;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    
}

.logo-info {
    color: var(--bleu);
    

}


/* Vignettes Hotels section */

.hotel-section-grid-container {
    padding: 45px var(--desktop-40px) 50px;
    background-color: var(--gris);
    border-radius: 20px;
}

@media (max-width: 991px) {

    .hotel-section-grid-container {
        background-color: white;
        border-radius: 0;
        padding: 45px var(--desktop-20px) 50px;
    }

}

@media (min-width: 1440px) {

    .hotel-section-grid-container {
        padding: 45px 20px 50px;  
    }
}

.hotel-section-grid-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--desktop-30px);
    padding: 25px 0 40px;
}

@media (max-width: 767px) {

    .hotel-section-grid-cards{
        grid-template-columns: 1fr;
        gap: var(--mobile-12px);
    }

}

@media (min-width: 1440px) {

    .hotel-section-grid-cards{
        gap: 30px;
    }

}

.hotel-section-card {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    height: 200px;
    box-shadow: 0 0 10px silver;
}


.hotel-section-card:hover { 
    background-color: var(--bleu-clair);
}

.hotel-section-card-container-img {
    height: 120px;
    
}

.hotel-section-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hotel-section-card-container-info {
    padding: 10px 15px;
    height: 80px;
}

.hotel-section-container-stars {
    font-size: 0.8rem;
    margin-top: 3px;
}

.afficher-plus {
    font-weight: 600;
}

.afficher-plus:hover {
    color: var(--bleu);
}




/* Vignettes Hotels aside */

aside {
    padding: 45px var(--desktop-35px) 35px;
    background-color: var(--gris);
    border-radius: 20px;
    grid-area: aside;
}

@media (max-width: 991px) {

    aside {
        order: -1;
        padding: 30px var(--pad-20px) 35px;
        border-radius: 0;
    }
}

@media (max-width: 767px) {
    aside {
        padding: 30px var(--mobile-20px) 35px;
    }
}

@media (min-width: 1440px) {

    aside {
        padding: 45px 35px 35px;
    }

}

.aside-container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-grid-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--desktop-30px);
    margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 991px) {

    .aside-grid-cards {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 767px) {

    .aside-grid-cards {
        grid-gap: var(--mobile-10px);
    }

}

@media (min-width: 1440px) {

    .aside-grid-cards {
        grid-gap: 30px;
    }

}

.aside-card { 
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    height: 145px;
    box-shadow: 0 0 10px silver;
    display: flex;
}

.aside-card:hover { 
    background-color: var(--bleu-clair);
}

.aside-card-container-img {
    height: 135px;
    width: 127px;
}

.aside-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.aside-card-container-info {
    flex: 1;
    padding: 10px 15px;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-card-container-info p {
    margin-top: 12px;
}





/* Vignettes Activités */

.activites {
    padding: 60px 0;
}

.activites h2 {
    padding-top: 45px;
}

@media (max-width: 991px) {

    .activites {
        padding: 40px var(--pad-20px) 50px;
    }

}

@media (max-width: 767px) {
    .activites {
        padding: 30px var(--mobile-20px) 35px;
    }
}


.activites-grid-cards {
    
    padding-top: 25px;
    display: grid;
    grid-template-areas: 
                        "card-one card-two card-four card-five"
                        "card-one card-two card-four card-six"
                        "card-one card-three card-four card-six";
    grid-template-rows: 193px 0px 210px;
    grid-template-columns: repeat(4, 1fr);
    place-content: stretch;
    gap: var(--desktop-40px);
    
}

@media (max-width: 991px) {

    .activites-grid-cards {
    
        grid-template-areas: 
                            "card-one card-two"
                            "card-one card-two"
                            "card-one card-three"
                            "card-four card-five"
                            "card-four card-six"
                            "card-four card-six";
        grid-template-rows: 193px 0px 210px 193px 0px 210px;
        grid-template-columns: repeat(2, 1fr);
      
    }

}

@media (max-width: 767px) {

    .activites-grid-cards {
    
        grid-template-areas: 
                            "card-one"
                            "card-two"
                            "card-three"
                            "card-four"
                            "card-five"
                            "card-six";
        grid-template-rows: repeat(6, 190px);
        grid-template-columns: 1fr;
        gap: var(--mobile-24px);
      
    }

}

@media (min-width: 1440px) {

    .activites-grid-cards {
    
        gap: 40px;
      
    }

}

.activites-card { 
    background-color: white;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px silver;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


.activites-card:hover { 
    background-color: var(--bleu-clair);
}


.activites-card-container-img {
    height : calc(100% - 55px);
    width : inherit;
}


.activites-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activites-card-container-info {
    padding: 0 15px;
    height: 55px; 
    display: flex;
    align-items: center;
}



.activites-card-01 {
    /* grid-area: 1 / 1 / 4 / 2; */
    grid-area: card-one;
}

.activites-card-02 {
    /* grid-area: 1 / 2 / 3 / 3; */
    grid-area: card-two;
}

.activites-card-03 {
    /* grid-area: 3 / 2 / 4 / 3; */
    grid-area: card-three;
}

.activites-card-04 {
    /* grid-area: 1 / 3 / 4 / 4; */
    grid-area: card-four;
}

.activites-card-05 {
    /* grid-area: 1 / 4 / 2 / 5; */
    grid-area: card-five;
}

.activites-card-06 {
    /* grid-area: 2 / 4 / 4 / 5; */
    grid-area: card-six;
}


/* FOOTER */


footer {
    background-color: var(--gris);
    

}

.footer-links-containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1440px;
    padding: 50px var(--desktop-50px);
    margin: 0 auto;
}

@media (max-width: 1279px) {

    .footer-links-containers {
        padding: 50px var(--desktop-20px);
    }
}

@media (max-width: 991px) {

    .footer-links-containers {
        padding: 50px var(--pad-20px);
    }
}

@media (max-width: 767px) {

    .footer-links-containers {
        padding: 50px var(--mobile-20px);
    }
}

@media (min-width: 1440px) {

    .footer-links-containers {
        padding: 50px 50px;
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer-links li:first-child {
    margin-bottom: 25px;
}

.footer-links li:not(:first-child) {
    margin-bottom: 15px;
}

.footer-links li:hover {
    color: var(--bleu);
}

@media (max-width: 991px) {


    .footer-links-containers {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 45px;
    }


}

@media (max-width: 767px) {

    .footer-links-containers {
        grid-template-columns: 1fr;
    }

}







































