/* Général */

*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline: none;
    transition: all 0.3s ease 0s; /*effet de transition appliqué sur toutes les propriétés de toutes les balises*/
}


html {
    font-size:62.5%,
}  

body{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}



/* Annulation de propriétés */

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    flex-basis: 100%;
}



/* Couleurs */

:root { 
    --bleu-clair: #DEEBFF; 
    --bleu: #0065FC;
    --gris: #F2F2F2;
}

.bleu {
    color: var(--bleu);
}

.gris {
    color: var(--gris);
}



/* Tailles des polices */

h1 {
    font-size: 1.5rem;
    padding-top: 35px;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.35rem;
    font-weight: 600;
} 

h3 {
    font-size: 1rem;
    font-weight: 600;
}

p {
    font-size: 0.85rem;
}

.article-container-stars i {
    font-size: 0.78rem;
}

.aside-container-stars i {
    font-size: 0.65rem;
}

/* Tailles des polices */



/* Centrer */

.center {
    text-align: center;
}



/* Navbar */

header {
    width: 100%;
}

header nav {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr;
    
}

header nav div {
    padding-top: 45px;
}

header nav div:not(:first-child) {
    text-align: center;
}

header nav div:hover:not(:first-child) {
    border-top: 2px solid var(--bleu);
}

header nav span:hover {
    color: var(--bleu);
}

header nav div:last-child span{
    font-weight: 600;
}



/* Barre de recherche */

.fa-map-marker-alt {
    color: black;
    background-color: var(--gris);
    padding: 17px 19px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search {
    margin: 20px 0 30px;
    border: 1px solid var(--gris);
    border-radius: 15px;
    width: 420px;
    display: flex;
    
}

.search input {
    border: none;
    padding-left: 1rem;
    flex: 1;
}

.search input[type=text] {
    font-weight: bold;
    font-size: 1rem;
}

.search button {
    color: white;
    background-color: var(--bleu);
    padding: 15px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    font-size: 1rem;
    
}

.rechercher span:nth-child(2){
    display: none;
}



/* Icons */

.icon-arrow {
    font-size: 1.35rem;
}



/* Filtres */

.filtre {
    display: flex;
    flex-wrap: wrap;
    
}

.filtre > div {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0 35px 0 15px;
}

.filtre p {
    
    font-size: 1rem;
    font-weight: bold;
    
}

.filtre a:not(:last-child) {
    margin-right: 25px;
}

.filtre a i {
    color: var(--bleu);
    background-color: var(--bleu-clair);
    font-size: 1rem;
    padding: 14px;
    border-radius: 25px;
}

.filtre a span {
    font-weight: bold;
}

.filtre a div {
    border: 2px solid silver;
    padding: 0 12px 0 0;
    border-radius: 25px;
    align-items: center;
}

.filtre span {
    padding-left: 10px;
    padding-right: 5px;
}



.filtre a div:hover {
    background-color: var(--bleu-clair);
}



/* Infos */


.info {
    display: flex;
    margin-top: 30px;
}

.info div {
    display: flex;
    align-items: center;
    
    border-radius: 25px;
}

.logo-info-container {
    margin: 0 10px;
    border: 1px solid var(--gris);
    height: 25px;
    width: 25px;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    
}

.logo-info {
    color: var(--bleu);
    font-weight: 400;

}

.logo p {

}

/* Blocs */

.container {
    margin: 0 50px;
}

.container-head {
    margin: 0 50px;
}

.container-h2 {
    margin-bottom: 25px;
}



footer {
    background-color: var(--gris);
    padding: 45px 0;
    margin-top: 60px;
}

aside {
    padding: 40px 35px;
    background-color: var(--gris);
    border-radius: 20px;
}

.hotels article {
    padding: 40px;
    background-color: var(--gris);
    border-radius: 20px;
}

.hotels {
    display: grid;
    grid-template-columns: 2.1fr 1fr;
    grid-gap: 40px;
    margin-top: 35px;
}

.article-grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    
}

.aside-container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.aside-grid-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    
}

.activities {
    margin-top: 60px;
}

.activities-grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    grid-template-areas:
    "a b d e"
    "a c d f";
}


/* VIGNETTES */


/* Vignettes article */

.article-card { 
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    height: 200px;
    box-shadow: 0 0 10px silver;
}

.article-card:hover { 
    background-color: var(--bleu-clair);
}

.article-card-container-img {
    height: 120px;
}

.article-card-container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.acticle-card-container-info {
    padding: 10px 15px;
    height: 80px; 
}

.acticle-card-container-info h3 {
     
}

.acticle-card-container-info p {
     
}

.acticle-card-container-info div{
     
}

.afficher-plus {
    display: inline-block;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 35px;
}

/* Vignettes aside */

.aside-card { 
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    height: 145px;
    box-shadow: 0 0 10px silver;
    display: grid;
    grid-template-columns: 1fr 1.6fr;
}

.aside-card:hover { 
    background-color: var(--bleu-clair);
}

.aside-card-container-img {
    height: 135px;
}

.aside-card-container-img img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.aside-card-container-info {
    padding: 10px 15px;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-card-container-info h3 {
    padding-bottom: 12px;
}

.aside-card-container-info h3 {
     
}

.aside-card-container-info p {
     
}

.aside-card-container-info div{
     
}

/* Vignettes activities */

.activities-card { 
    background-color: white;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px silver;
}

.activities-card:hover { 
    background-color: var(--bleu-clair);
}

.activities-card-duo-container{
    display: grid;
    grid-gap: 30px;
}

.activities-card-container-img {
    max-height: auto;
}

.activities-card-container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

.activities-card-container-info {
    padding: 0 15px;
    height: 55px; 
    display: flex;
    align-items: center;
}

.activities-card-container-info h3 {
     
}


.activities-card-size-1 {
    height: 445px;

}

.activities-card-container-img-size-1 {
    height: 390px;
}

.activities-card-size-2 {
    height: 240px;
   
}

.activities-card-container-img-size-2 {
    height: 185px;
}

.activities-card-size-3 {
    height: 210px;
    
}

.activities-card-container-img-size-3 {
    height: 155px;
}

.activities-card-size-4 {
    height: 195px;
    grid-area: d;
}

.activities-card-container-img-size-4 {
    height: 140px;
}

.activities-card-size-5 {
    height: 165px;
    grid-area: e;
}

.activities-card-container-img-size-5 {
    height: 110px;
}


/* FOOTER */


.footer-links-containers {
    display: flex;
    flex-direction: row;
}

.footer-links {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer-links h3 {
    margin-bottom: 25px;
}

.footer-links a {
    margin-bottom: 15px;
}

.footer-links a:hover {
    color: var(--bleu);
}



/* MEDIA QUERIES */


/* Mobile */



@media (max-width: 1024px) {


    /* Blocs */

    .container {
        margin: 0;
    }

    .container-head {
        margin: 0 20px;
    }


    aside {
        padding: 40px 20px;
        background-color: var(--gris);
        border-radius: 0px;
        order: 1;
    }

    .hotels article {
        padding: 40px 20px;
        background-color: white;
        border-radius: 0px;
        order: 2;
    }

    .hotels {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .article-grid-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        
    }

    .aside-container-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .aside-grid-cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        
    }

    .activities {
        margin-top: 60px;
    }

    .activities-grid-cards {
        grid-template-columns: 1fr;
      
    }


    /* FOOTER */


    .footer-links-containers {
        flex-direction: column;
    }

    /* Navbar */

    

    header nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    header nav div {
        padding-top: 45px;
    }

    header nav div:nth-child(1) {
        order: 1;
    }

    header nav div:nth-child(2) {
        order: 3;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--gris);
    }

    header nav div:nth-child(2):hover {
        border-bottom: 2px solid var(--bleu);
    }

    header nav div:nth-child(3) {
        order: 4;
        padding-bottom: 15px;
        border-bottom: 2px solid var(--gris);
    }

    header nav div:nth-child(3):hover {
        border-bottom: 2px solid var(--bleu);
    }

    header nav div:nth-child(4) {
        order: 2;
    }

    header nav div:not(:first-child) {
        text-align: center;
    }

    header nav div:hover:not(:first-child) {
        border-top: 2px solid var(--bleu);
    }

    header nav span:hover {
        color: var(--bleu);
    }

    header nav div:last-child span{
        font-weight: 600;
    }



}