:root { 
    --bleu-clair: #DEEBFF; 
    --bleu: #0065FC;
    --gris: #F2F2F2;
}

.container {
	margin: 0 auto;
    width: 335px;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.grow {
    flex-grow: 1;
}

.logo {
    width: 95px;
    padding-left: 20px;
}

.bleu {
    color: var(--bleu);
}

.gris {
    color: var(--gris);
}

.search {
    border: 1px solid var(--gris);
    border-radius: 15px;
}

.fa-map-marker-alt {
    color: black;
    background-color: var(--gris);
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search input {
    border: none;
    margin-left: 1rem;
}

.search button {
    color: white;
    background-color: var(--bleu);
    padding: 15px;
    border: none;
    border-radius: 15px;
    
}

.filtre a i {
    color: var(--bleu);
    background-color: var(--bleu-clair);
    font-size: 1rem;
    padding: 14px;
    border-radius: 25px;
}

.filtre a {
    border: 2px solid silver;
    padding: 13px 12px 12px 0;
    border-radius: 25px;
}

.filtre span {
    padding-left: 10px;
    padding-right: 5px;
}

.filtre div {
    margin-bottom: 10px;
    margin-right: 10px;
}

.ancres {
    border-bottom: 0.2rem solid var(--bleu);
    padding-top: 30px;
    padding-bottom: 15px;
}

.thumbnail {
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    height: 200px;
    box-shadow: 0 0 10px silver;
    
}

.thumbnail img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    
}

.thumbnail div {
    margin: 5px 0 0 10px;
}

.thumbnail h3, .thumbnail p {
    margin-block-start: 5px;
    margin-block-end: 5px;
    
}

.sm-thumbnail {
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px silver;
}

.sm-thumbnail img {
    width: 40%;
    height: 135px;
    object-fit: cover;
    margin-right: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.sm-thumbnail div ul {
    margin-block-end: 0;
}

.inscription {
   
}


#hebergements{
    display: flex;
    flex-direction: column-reverse;
}


aside, footer {
    background-color: var(--gris);
}

nav {
    display: flex;
    flex-basis: 100%;
}

footer > div > nav {
    width: 100%;
}

body{
    width: 375px;
    font-family: 'Raleway', sans-serif;
    
}

header {
    margin-top: 30px;
    margin-bottom: 40px;
}

h1{
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

p{
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color : black;
}

ul {
    list-style-type: none;
    flex-basis: 100%;
    padding-left: 0;
   
}

li i {
    font-size: 10px;
    margin-top: auto;
}

span, input {
    font-weight: bold;
}

@media (min-width: 376px) {
    .loupe {
        display: none;
    }
}

@media (max-width: 375px) {
    .rechercher {
        display: none;
    }

    nav {
        flex-wrap: wrap;
    }

    nav > div {
        flex-basis: 50%;
    }

    nav > div:nth-child(2){
        order: 3;
        display: flex;
        justify-content: center;
    }

    nav > div:nth-child(3){
        order: 4;
        display: flex;
        justify-content: center;
    }

    nav > div:nth-child(4){
        order: 2;
        display: flex;
        justify-content: flex-end;
    }
}